<h2>Football Gametime Leaderboard</h2>

<table>
  <tr class="top">
      <td>Team</td>
      <td>Wins</td>
  </tr>
  <% @leaderboard.each do |wins| %>
    <tr>
      <td><%= wins[0] %></td>
      <td><%= wins[1] %></td>
    </tr>
  <% end %>
</table>

<h2>Games Thus Far:</h2>

<table>
  <tr class="top">
      <td>Home Team</td>
      <td>Away Team</td>
      <td>Home Score</td>
      <td>Away Score</td>
  </tr>
  <% @games.each do |team| %>
    <tr>
      <td><%= team[:home_team] %></td>
      <td><%= team[:away_team] %></td>
      <td><%= team[:home_score] %></td>
      <td><%= team[:away_score] %></td>
    </tr>
  <% end %>
</table>
